@font-face{
	font-family: "customFont";
	src: url('assets/fonts/Akashi.ttf');
}
@font-face{
	font-family: "customFace";
	src: url('assets/images/logos/sosa-regular-webfont.eot');
	src: url('assets/images/logos/sosa-regular-webfont.svg');
	src: url('assets/images/logos/sosa-regular-webfont.ttf');
	src: url('assets/images/logos/sosa-regular-webfont.woff');
}
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*AVAILABLE FOR HIRE CSS*/
/*/////////////////////////////////////////////*/
#hire {
  left: -65px;
  height: 30px;
  top: 40px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  /* Rotate div */
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
}
#hire span{
  background: black;
  color: white;
  font-size: 16px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 250px;
}
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*RESPONSIVE CSS*/
/*/////////////////////////////////////////////*/
/*@media (min-width: 200px) {
	#portafolio{
		width:200px;
		background-color: blue;
	}
}*/
/*Small Screen*/
@media (max-width: 550px) {
	#hire {
	  height: 15px !important;
	  width: 150px !important;
	}
	#hire span{
	  font-size: 10px !important;
	  width: 205px !important; 
	}
	.socialBar{
		height: 48px !important;
	}
	#portafolio{
		width:320px !important;
		height:280px !important;
/*		background-color: blue!important;*/
	}
	.project{
		width:80px !important;
		height:80px !important;
		font-size:12px;
	}
	.description .dContainer {
	    padding: 0px 50px !important;
	    column-count: 1 !important;
	    -moz-column-count: 1 !important;
	    -webkit-column-count: 1 !important;
	    column-gap: 3em !important;
	    -moz-column-gap: 3em !important;
	    -webkit-column-gap: 3em !important ;
	    max-width: 860px !important;
	    margin: auto !important;
	}
	[data-icon]:before { 
	  font-size:30px !important;
	}
	.socialIcon{
		height:43px;
	}
	.devHeader .up{
		padding-top: 10px !important;
	/*	background-color: blue;*/
	}

	.quote{
		width:300px !important;
	/*	background-color: orange;*/
	}

	.project{
		text-align:center;
		margin:10px !important; 
		padding: 30px !important;

	}
	/*DEV BODY IMAGES*/
	.webImg{
		width:220px !important;
		height:150px !important;
	}
	.qrWifiImg, .gymPlannerImg{
		width:100px !important;
		height:100px !important;
	}

	/*BODY OF DEVELOPMENT*/
	.devBody{
		height:550px !important;
	}
	.leftDevBody{
		margin:0 auto !important;
/*		background-color: red;*/
		float:none !important;
		width:100% !important;
	}
	.rightDevBody{
		margin:0 auto !important;
		float:none !important;
		width:80% !important;
	/*	background-color: blue;*/
	}
	a.liveBtn {
		text-align:center !important; 
	}
}
/*Medium Screen*/
@media (max-width: 760px) {
	/*DEV BODY IMAGES*/
	.webImg{
		width:270px !important;
		height:200px !important;
	}
	.bulletVideo{
		width:340px !important;
		height:260px !important;	
	}

}
/*Bigger Screen*/
@media (min-width: 1200px) {
	#portafolio{
		width:900px !important;
		height:200px !important;
/*		background-color: blue!important;*/
	}

}
body{
	margin:0;
	background: #333333;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*								GLOBAL CSS*/
/*/////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*SOCIAL BAR CSS*/
/*/////////////////////////////////////////////*/
.socialBar{
	background-color: white;
	width: 100%;
	height: 60px;
}
[data-icon]:before { 
	font-family: "customFace";
	content: attr(data-icon); 
	speak: none; 
	font-weight: normal; 
	/*  line-height: 1; */
	font-size:50px;
	color:#333333;
	-webkit-font-smoothing: antialiased; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.socialIcon{
	float:right;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	text-decoration:none !important;
/*	width:50%;*/
/*	height:100%;*/
/*	background-color: green;*/
}
.socialIcon:hover, .pIcon:hover, .project:hover, .liveBtn:hover {
  background-color: #c0c0c0;
}
.socialIcon:selection, .pIcon:selection, .project:selection, .liveBtn:selection {
  border-style:none;
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*HEADER CSS*/
/*/////////////////////////////////////////////*/
.header{
	width:305px;
	padding-top:20px;
	padding-bottom:180px;
	padding-left:10px;
	padding-right:10px;
	margin: 0 auto;
	color:white;
	text-align: center;
/*	background-color: blue;*/
}
.title{
	font-family: "customFont";
	float:right;
/*	background-color: red;*/
}
.me{
	float:left;
}
.quote{
	width:350px;
	margin: 0 auto;
	color:white;
	text-align: center;
	font-family: "customFont";
	font-size:14px;
/*	background-color: orange;*/
}
.polaroid{
  position: relative;
/*  width: 220px;*/
}
.polaroid img {
  border: 5px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
	-moz-box-shadow: 3px 3px 3px #777;
	box-shadow: 3px 3px 3px #777;
}
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.portafolioBtn{
	margin:auto;
	padding-top: 10px;
	padding-bottom: 20px;
/*	width:300px;*/
/*	height:100px;*/
	text-align: center;
/*	background-color: red;*/
}

.pIcon{
	font-family: "customFont";
	text-decoration:none !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	padding-top:25px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
/*	padding:20px;*/
	background-color: white;
	color:#333333;
}
.description{
	font-family: "customFont";
/*	background-color: white;*/
	color:white;
	width: 100%;
  	padding: 30px 0px;

}
.description .dContainer{
	margin:auto;
	max-width: 920px;
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 3em;
	-moz-column-gap: 3em;
	-webkit-column-gap: 3em;
	padding: 10px 20px 40px 20px;
	line-height: 1.5;
/*	background-color: red;*/
}
.dContainer p {
  margin:auto;
  margin-bottom: 15px;
/*  background-color: blue;*/
}

/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/*PORTAFOLIO CSS*/
/*/////////////////////////////////////////////*/
#portafolio{
/*	background-color: white;*/
	height:450px;
/*	padding:50px;*/
	padding-top:50px;
	padding-bottom:120px;
	margin:0 auto;
	width:450px;
/*	background-color: red;*/

}
.project{
	font-family: "customFont";
	text-decoration:none !important;
	float:left;
	background-color: white;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px; /* future proofing */
	-khtml-border-radius: 150px; /* for old Konqueror browsers */
	margin:20px; 
/*	margin-top:10px;*/
	padding: 30px;
	width:120px;
	height:120px;
	text-align: center;
  	color:#333333;
}

.dev{
	font-family: "customFont";
	color:#333333;
/*	height:200px;
	background-color: white;*/
}
.devHeader h2{
	width:90%;
	float:left;
	font-size:22px;
/*	background-color: red;*/
}
.devHeader .up{
	text-decoration:none !important;
	width:10%;
	float:right;
	margin-top:-5px;
/*	background-color: blue;*/
}
.devHeader{
	height:45px;
	background-color: white;
	text-align: center;
	padding:5px;
}
.devBody{
	height:450px;
	color:white;
/*	margin-left:20px;
	margin-right: 20px;*/
	/*text-align: center;*/

/*	background-color: red;*/
/*	margin:0 auto;*/
	width:100%;
}

/*IMAGE FOR DEVBODY*/
.webImg{
	width:380px;
	height:250px;
}
.qrWifiImg, .gymPlannerImg{
	width:150px;
	height:150px;
}
.leftDevBody{
	text-align: center;
	width:50%;
	float:left;
/*	background-color: green*/
}
.rightDevBody{
	margin-top: 50px;
	padding:5px;
	width:40%;
	float:left;
/*	background-color: pink;*/
}
.hrefLink {
	color: white;
}
.liveBtn {
	text-decoration:none !important;
	color:#333333;;
	background-color:white;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}
